.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 52px;
  font-family: Red Hat Text, sans-serif;
  font-size: 24px;
}
