.history__wrapper {
  margin-top: 50px;
  padding: 0 100px 50px;
}

.history__header {
  text-align: center;
  font-family: Red Hat Text, sans-serif;
  font-size: 80px;
  padding-bottom: 20px;
}

.history__content {
  display: flex;
  align-items: center;
}

.history__year {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Red Hat Text, sans-serif;
  font-size: 40px;
  border-radius: 50%;
}

.history__text {
  margin-left: 40px;
  font-size: 20px;
  font-family: Red Hat Text, sans-serif;
  line-height: 30px;
}

.history__spacer {
  width: 10%;
  height: 50px;
  position: relative;

  img {
    position: absolute;
    right: 0;
  }
}
