.history__wrapper {
  display: flex;
  padding: 0 100px 50px;
  flex-direction: column;
}

.history__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Red Hat Text, sans-serif;
  font-size: 80px;
  padding-bottom: 20px;
}

.history__block {
  height: 25vh;
}

.history__content {
  display: flex;
  align-items: center;
}

.history__year {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Red Hat Text, sans-serif;
  font-size: 40px;
  border-radius: 50%;
}

.history__text {
  margin-left: 40px;
  font-size: 20px;
  font-family: Red Hat Text, sans-serif;
  line-height: 30px;
}

.history__spacer {
  width: 200px;
  min-height: 50px;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;

  img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
